@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.feat {
  border-style: none;
  display: flex;
}

.custo {
  width: fit-content;
}

.navcolor {
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}

#allbg {
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}

.benfitshead {
  font-size: 25px;
  font-weight: 550;
}

.bannerhead {
  font-family: "Pattaya", sans-serif;
}

.hd {
  font-size: 25px;
  font-weight: 550;
}

.card.hover,
.card:hover {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.img {
  margin-bottom: 35px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.card-title {
  font-weight: 600;
}

button.focus,
button:focus {
  outline: 0;
  box-shadow: none !important;
}

.rck {
  margin-top: 20px;
  padding-bottom: 15px;
}

.headindadd{
  font-family: 'Roboto', sans-serif;
}